html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
}

.leaflet-areaselect-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#urlArea {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 100000;
}

#map {
    width: 100%;
    height: 100%;
}

.menu {
    bottom: 50px;
    position: fixed;
    text-align: center;
    width: 752px;
    /* width: 100%; */
    top: 80%;
    /* position the top	edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    z-index: 9999999;
}

.menu li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
    list-style-type: none;
}

.menu img {
    margin: 0;
    padding: 0;
}

.menu a {
    background: rgba(51, 51, 0, 0.5);
    /* background: rgba(149, 165, 166,1.0); */
    /* background: rgba(255, 255, 255, 0.1); */
    border: 1px solid rgba(255, 255, 255, 1);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 90px;
    padding: 15px 10px;
    text-decoration: none;
    width: 50px;
}

.menu a.active {
    background: rgba(149, 165, 166, 1);
}

.menu a:hover {
    color: orange;
}

.toggle_menu {
    background: #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: none;
    font-size: 18px;
    /* padding: 11px; */
    padding: 14px;
    right: 12px;
    top: 60px;
    position: fixed;
    /* right: 65px; */
    /* top: 10px; */
    /* width: 18px; */
    width: 16px;
    z-index: 999;
}

.menu_mobile {
    /* border: 1px solid rgba(255, 255, 255, 0.6); */
    display: none;
    position: fixed;
    /* right: 10px; */
    /* top: 40px; */
    right: 12px;
    top: 107px;
    width: 190px;
    /* z-index: 999; */
    z-index: 9999999;
}

.menu_mobile li {
    list-style-type: none;
}

.menu_mobile a {
    /* background: #333300; */
    background: rgba(51, 51, 0, 0.5);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    padding: 10px;
    text-decoration: none;
}

.menu_mobile a:hover {
    color: orange;
}

.upload_konsesi {
    background: #fff;
    height: 200px;
    position: fixed;
    top: 50%;
    /* position the top	edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    text-align: center;
    transform: translate(-50%, -50%);
    /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    width: 200px;
    z-index: 9999999;
}

.upload_konsesi button {
    background: orange;
    border: 1px;
    color: #fff;
    cursor: pointer;
    margin-top: 75px;
    padding: 10px;
    width: 100px;
}

.landsat {
    background: #fff;
    color: orange;
    position: fixed;
    left: 54px !important;
    top: 12px;
    left: 2% !important;
    /*top: 32%;	/* position the top	edge of the element at the middle of the parent
			left: 7%; /* position the left edge of the element at the middle of the parent
			transform: translate(-50%, -50%); This is a shorthand of translateX(-50%) and translateY(-50%)*/
    width: auto;
    z-index: 9999999;
}

.landsat ul {
    margin: 0;
    /* padding: 15px 5px; */
    padding: 5px;
}

.landsat li {
    font-size: 14px;
    list-style-type: none;
}

.wrapper_upload_konsesi {
    position: relative;
}

.wrapper_landsat {
    position: relative;
}

.btn_close {
    background: #fff;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 99999;
}

.jstree-container-ul {
    overflow-y: scroll;
    max-height: 91vh;
    box-sizing: border-box;
}

.title {
    color: orange;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    text-align: center;
    top: 10px;
    width: 60%;
    z-index: 999;
    left: 20%;
}

.information_color {
    background: rgba(236, 240, 241, 0.8);
    /* bottom: 50px; */
    top: 130px;
    display: none;
    max-height: 320px;
    left: 10px;
    overflow-y: scroll;
    padding: 10px;
    position: fixed;
    z-index: 999999;
}

.information_color_title {
    border-bottom: 1px solid #ddd;
    color: rgb(231, 76, 60);
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 10px 0;
    text-align: center;
}

.information_color span {
    border: 1px solid #fff;
    display: inline-block;
    height: 100%;
    width: 15px;
}

.information_color font {
    color: #000;
    font-size: 11px;
}

.information_color li {
    padding: 2px 10px;
}

.tutupan_lahan_select {
    background: rgba(236, 240, 241, 1);
    display: none;
    /* left: 50px; */
    font-size: 11px;
    right: 10px;
    padding: 5px;
    position: fixed;
    top: 193px;
    z-index: 999999;
}

.tutupan_lahan_select input {
    position: relative;
    top: -1px;
}

.landsat_select {
    background: rgba(236, 240, 241, 1);
    display: none;
    /* left: 50px; */
    font-size: 11px;
    right: 10px;
    padding: 5px;
    position: fixed;
    top: 193px;
    z-index: 999999;
}

.landsat_select input {
    position: relative;
    top: -1px;
}

/* .landsat_select {
			background: rgba(236, 240, 241, 0.8);
			display: none;
			left: 50px;
			padding: 10px;
			position: fixed;
			top: 13px;
			z-index: 999999;
		} */

.loader {
    background: rgba(51, 51, 0, 0.5) url("loader.gif") no-repeat center;
    background-size: 100px 100px;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999999999;
}

.save_data {
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    font-size: 10px;
    padding: 10px;
    position: fixed;
    right: 10px;
    top: 250px;
    z-index: 999;
}

.save_data:hover {
    background: orange;
    color: #fff;
}

.data_save {
    background: #fff;
    border-radius: 10px;
    font-size: 10px;
    padding: 10px;
    position: fixed;
    right: 10px;
    top: 290px;
    z-index: 999;
}

.data_save h2 {
    padding: 0 0 10px 0;
}

.data_save li {
    color: green;
    padding: 0 0 10px 0;
}

.data_save a {
    color: red;
    cursor: pointer;
}

.leaflet-control-simpleMapScreenshoter {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .toggle_menu {
        display: block;
    }

    .title {
        font-size: 14px;
    }

    .information_color {
        width: 163px;
        height: 125px;
        overflow-y: scroll;
        bottom: 50px;
        top: auto;
    }
}

@media only screen and (min-width: 601px) {
    .toggle_menu {
        display: none;
    }

    .menu_mobile {
        display: none;
        visibility: hidden;
    }
}
